/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Root Colors */
:root {
  --light-line: #f0fff0;
  --green-color: #21b573;
  --white: #ffffff;
  --light-gray: #e5e5e5;
  --text-dark: 000000;
  --dark: #282531;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* Navbar */

/* Desktop Nav */
Header nav {
  display: flex;
  justify-content: space-between;
}
