/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Root Colors */
:root {
  --light-line: #f0fff0;
  --green-color: #21b573;
  --white: #ffffff;
  --light-gray: #e5e5e5;
  --text-dark: 000000;
  --dark: #282531;
  --light-violet: #56548c;
  --orange: #fd511a;
  --light-dark: #413960;
  --gray: #585859;
}
.container {
  margin: 0 auto;
  max-width: 1140px;
}

.btn {
  color: var(--white);
  background: var(--green-color);
  text-decoration: none;
  border-radius: 1rem;
  padding: 1rem 1.6rem;
}

/* Navbar */
Header {
  background: var(--light-line);
}
/* Desktop Nav */
Header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  font-size: 1.5rem;

  color: var(--light-violet);
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header nav ul li {
  margin-right: 3rem;
}

header nav ul li a {
  text-decoration: none;
  color: var(--dark);
}

/* Banner */
.hero-section {
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
}
/* right */
.hero-section .left h3 {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: var(--orange);
}

.hero-section .left h2 {
  font-size: 3rem;
}
.hero-section .left h2 span {
  color: var(--green-color);
}

/*left*/

.hero-section .right img {
  width: 100%;
  height: 100%;
}
.hero-section .left-btn {
  margin-top: 3rem;
}

/* Books */
.books-container {
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
}
.books-container .books div {
  display: flex;
  justify-content: center;
  height: 85px;
}

.books-container .books h3 {
  text-align: center;
  color: var(--light-dark);
}
.books-container .books p {
  text-align: center;
  font-size: 16px;
}

/* Online-Coursces */
.courses-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-container {
}
.courses-background h2 {
  padding: 2rem 0rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-dark);
}
.courses-container .courses img {
  width: 331px;
  height: 234px;
}

.courses-container .courses h2 {
  font-size: 1.5;
  color: var(--light-dark);
}

.courses-container .courses p {
  font-size: 16px;
  color: gray;
}

.courses-container .courses .courses-btn {
  text-decoration: none;
  color: var(--white);
  padding: 8px 28px 8px 28px;
  border-radius: 1rem;
  background: var(--green-color);
}

.courses-container .courses div {
  margin-top: 1rem;
}
